aiosqlite==0.16.0
click==7.1.2
fastapi==0.62.0
h11==0.12.0
pydantic==1.8.2
reasoner-pydantic @ git+https://github.com/ranking-agent/reasoner-pydantic@9e41079c9036d360b737bfb4d6f6f9127c433130
small-kg @ git+git://github.com/patrickkwang/small-kg@9cfa7ca88e4e74163ebd76b22d26ec3a90a14c1d
starlette==0.13.6
typing-extensions==3.10.0.0
uvicorn==0.12.3
